html {
  box-sizing: border-box;
  font-size: 16px;
}

ul {
  list-style: none;
}

*,
*:after,
*:before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  z-index: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  transition: 0.3s background-color;
}

.bg_text {
  width: 100%;
  font-size: 3rem;
  font-weight: 900;
  color: rgb(255, 89, 180);
  -webkit-text-stroke: 1px rgb(255, 255, 255);
  text-transform: uppercase;
  margin-top: 3rem;
}

.TodoList_container {
  min-width: 400px;
  max-width: 400px;
  background-color: #fff;
  align-self: center;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 2rem;

  &:after {
    content: "";
    background-color: crimson;
    height: 4px;
  }

  h1 {
    color: rgb(255, 89, 180);
    -webkit-text-stroke: 1px rgb(167, 0, 92);
    text-shadow: 0 4px rgb(201, 201, 201);
    font-weight: 900;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin: 2rem 0 0;
  }

  .subtitle {
    font-style: italic;
  }
}

.TodoList {
  margin-top: 1rem;

  li {
    display: flex;
    text-align: left;
    padding: 0.6rem 0.3rem;
    border-radius: 4px;
    margin: 0.8rem;
    padding-left: 1rem;
    font-size: 1.1rem;
    color: rgb(255, 38, 157);
    border: 1px solid rgb(255, 178, 220);
    font-weight: 600;
    background-color: #ffe8f8;
    transition: background-color 0.2s, color 0.2s;
    &:hover {
      background-image: linear-gradient(
        to right,
        transparent 30%,
        rgba(255, 211, 65, 0.2)
      );
      border: 1px solid rgb(255, 85, 178);
    }
  }

  .task__text {
    margin-right: 30px;
  }
}

.task__container {
  position: relative;
  display: flex;
  align-items: center;
}

.task__box {
  top: 0;
  left: 0;
  cursor: pointer;
  margin-right: 10px;
  background-color: white;
  height: 15px;
  width: 15px;
  font-size: 1rem;
  line-height: 10px;
  border: 1px solid rgb(255, 85, 178);
}

.task__box.completed {
  top: 0;
  left: 0;
}

.task__box.completed + .task__text {
  text-decoration: line-through;
}

.task__text {
  cursor: pointer;
}

.delete_box {
  margin-left: auto;
  margin-right: 10px;
}

.delete_btn {
  cursor: pointer;
  font-size: 1.6rem;
  line-height: 1rem;
}

.addTask__container {
  margin-top: 1rem;
  padding: 1rem;
  text-align: center;
}

.addTask__title {
  font-size: 1.3rem;
  text-align: center;
}

#addTask {
  display: block;
  width: 100%;
  padding: 0.5rem 0.5rem;
  margin-top: 0.7rem;
  font-size: 1rem;
  border-radius: 3px;
  border: 1px solid #bbb;
  box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.199);
  transition: border 0.2s, box-shadow 0.2s;

  &:focus {
    border: 1px solid #333;
    box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.503);
    outline: none;
  }
}

footer {
  margin-top: auto;
  margin-bottom: 1.5rem;
  color: white;
  .my-name {
    color: rgb(255, 89, 180);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.mode-switcher {
  padding: 1rem 1.5rem 0 0;
  align-self: flex-end;
  display: flex;
  align-items: center;

  &__icon {
    margin: 10px;
  }

  //SWITCHER
  input[type="checkbox"] {
    height: 0;
    width: 0;
    visibility: hidden;
  }
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 26px;
    background: #587ccc;
    display: block;
    border-radius: 25px;
    position: relative;
  }

  label:after {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 22px;
    transition: 0.3s;
  }

  input:checked + label {
    background: grey;
  }

  input:checked + label:after {
    left: calc(100% - 3px);
    transform: translateX(-100%);
  }

  label:active:after {
    width: 30px;
  }
}

// LIGHTER MODE
.light-mode {
  background-color: rgb(125, 173, 231);

  .bg_text {
    color: #ffd447;
    -webkit-text-stroke: 1px rgb(109, 125, 139);
  }

  .TodoList_container {
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
  }

  .TodoList_container h1 {
    color: #ffd447;
    -webkit-text-stroke: 1px #c4a235;
    text-shadow: 0 2px rgb(201, 201, 201);
  }

  .TodoList li {
    color: rgb(55, 109, 179);
    border: 1px solid rgb(125, 177, 247);
    background-color: rgb(212, 231, 255);
    &:hover {
      background-image: linear-gradient(
        to right,
        transparent 50%,
        rgba(255, 211, 65, 1)
      );
      border: 1px solid rgb(55, 109, 179);
    }
  }

  .task__box {
    border: 1px solid #376db3;
  }

  footer {
    margin-top: auto;
    margin-bottom: 1.5rem;
    color: white;
    .my-name {
      color: rgb(37, 67, 105);
    }
  }
}
